[submodule "modules/MCcubed"]
	path = modules/MCcubed
	url = https://github.com/pcubillos/MCcubed
[submodule "modules/TEA"]
	path = modules/TEA
	url = https://github.com/dzesmin/TEA
[submodule "modules/transit"]
	path = modules/transit
	url = https://github.com/pcubillos/transit
