[submodule "tea"]
	path = tea
	url = https://github.com/dzesmin/TEA
[submodule "modules/commloop"]
	path = modules/commloop
	url = https://github.com/astromaddie/commloop
[submodule "modules/MCcubed"]
	path = modules/MCcubed
	url = https://github.com/pcubillos/MCcubed
[submodule "modules/TEA"]
	path = modules/TEA
	url = https://github.com/dzesmin/TEA
[submodule "modules/transit"]
	path = modules/transit
	url = https://github.com/pcubillos/transit
